.srt-english
{
	text-align: right;
}

.srt-play-btn
{
	background: url(../images/Pixeden/play.svg);
}

.srt-wait-btn
{
	background: url(../images/loading.gif);
}

.srt-wait-btn,
.srt-play-btn
{
	width: 24px;
	height: 24px;
	background-size: 24px 24px;
	box-sizing: border-box;
	float: left;
	cursor: pointer;
}

.srt-selected-row
{
	background-color: lightgoldenrodyellow;
}

.srt-text
{
	line-height: 24px;
}

.srt-phrases-ico
{
	content: url(../images/Pixeden/share.svg);
	width: 16px;
	height: 16px;
	cursor: pointer;
}


.srt-phrase-container
{
	max-height: 0;
	overflow: hidden;
	-webkit-transition: max-height 1.5s ease-in-out;
	transition: max-height 1.5s ease-out;
}

	.srt-phrase-container:hover
	{
		max-height: 500px;
	}

#btnRenameMovie
{
	float: left;
	width: 32px;
	height: 32px;
	padding: 2px;
}

#btnDeleteMovie
{
	float: left;
}

#btnRenameMovie > img
{
	content: url(../images/Pixeden/edit.svg);
	width: 24px;
	height: 24px;
}

.srt-file
{
	height: 50px;
}

	.srt-file input[type="file"]
	{
		display: none;
	}

.set-file label
{
	border: 1px solid #ccc;
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
	min-width: 15em;
}


.srt-file div span
{
	cursor: pointer;
}

.srt-file div button
{
	margin-right: 1em;
}

	.srt-file div button:disabled
	{
		cursor: default;
	}

.srt-waiter
{
	width: 24px;
	height: 24px;
	content: url(../images/loading.gif);
}

.drag-highlight
{
	background-color: rgba(23, 68, 216, 0.1);
}

#btnRefresh
{
	float: left;
	margin-right: 0.5em;
	width: 100px;
}

.btn-waiter-hidden
{
	text-align: center;
}

	.btn-waiter-hidden > img
	{
		display: none;
	}

#btnUndo
{
	float: left;
	margin-right: 0.5em;
}

#dvRenameFooter
{
	flex: unset;
	display: unset;
}
