.sett-row
{
	margin-top: 1em;
}

#cmbLanguage,
#cmbUnknownWordMax,
#dvShowArchivedMovies
{
	background-color: lightgreen;
	border-radius: 4px;
}

.srt-save-normal
{
	background-color: white !important;
	transition: background-color 500ms linear;
}

.form-control:disabled, .form-control[readonly]
{
	background-color: #e9ecef !important;
}

#ShowArchivedMovies
{
	width: 50px;
}

/* mobile features */
@media screen and (max-width: 802px)
{
	.body-content
	{
		padding-top: 50px;
	}
}