.sett-row
{
	margin-top: 1em;
}

#cmbLanguage,
#cmbUnknownWordMax
{
	background-color: lightgreen;
}

.srt-save-normal
{
	background-color: white !important;
	transition: background-color 500ms linear;
}

.form-control:disabled, .form-control[readonly]
{
	background-color: #e9ecef !important;
}