@{
	ViewData["Title"] = "Settings";
}

@using SubtitlesLearn.Logic.Entities

@section Css
	{

	<link rel="stylesheet" href="~/css/Settings.css" asp-append-version="true" />
}

@section Scripts {
	<script src="~/js/Settings.js" asp-append-version="true"></script>
}



<div class="row sett-row">
	<div class="col-sm-3 offset-sm-3">
		Current language:
	</div>
	<div class="col-sm-3">
		<select class="form-control" id="cmbLanguage">
			@foreach (Language lang in ViewBag.Languages)
			{
				<option value="@lang.Code">@lang.Name</option>
			}
		</select>
	</div>
</div>

<div class="row sett-row">
	<div class="col-sm-3 offset-sm-6">
		<a asp-controller="Account" asp-action="ChangePassword">Change password</a>
	</div>
</div>

