@{
	ViewData["Title"] = "Settings";
}

@using SubtitlesLearn.Logic.Entities

@section Css
	{

	<link rel="stylesheet" href="~/css/Settings.css" asp-append-version="true" />
}

@section Scripts {
	<script src="~/js/Settings.js" asp-append-version="true"></script>
}



<div class="row sett-row">
	<div class="col-sm-3 offset-sm-3">
		Current language:
	</div>
	<div class="col-sm-3">
		<select class="form-control srt-save-normal" id="cmbLanguage" disabled onchange="saveLanguage();">
			@foreach (Language lang in ViewBag.Languages)
			{
				<option value="@lang.Code">@lang.Name</option>
			}
		</select>
	</div>
</div>

<div class="row sett-row">
	<div class="col-sm-3 offset-sm-3">
		<span title="How many words to be show on the main page.">Visible words count:</span>
	</div>
	<div class="col-sm-3">
		<select class="form-control srt-save-normal" id="cmbUnknownWordMax" disabled onchange="saveUnknownWordMax();">
			<option value="10">10</option>
			<option value="25">25</option>
			<option value="50">50</option>
			<option value="100">100</option>
		</select>
	</div>
</div>

<div class="row sett-row">
	<div class="col-sm-3 offset-sm-3">
		<span title="If unchecked, archived movies are not displayed on the main list.">Show archived movies?</span>
	</div>
	<div class="col-sm-3">
		<div id="dvShowArchivedMovies" class="srt-save-normal">
			<input type="checkbox" id="chkShowArchivedMovies" onchange="saveShowArchivedMovies()">
		</div>
	</div>
</div>


<div class="row sett-row">
	<div class="col-sm-3 offset-sm-6">
		<a asp-controller="Account" asp-action="ChangePassword">Change password</a>
	</div>
</div>

