<configuration>
  <configSections>
    <section name='appSettings' type='System.Configuration.AppSettingsSection, System.Configuration.ConfigurationManager' restartOnExternalChanges='false' requirePermission='false' />
    <section name='connectionStrings' type='System.Configuration.ConnectionStringsSection, System.Configuration.ConfigurationManager' requirePermission='false' />
  </configSections>  
  <connectionStrings>
    <add name="Main" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=SubtitlesLearn;Integrated Security=True" />
  </connectionStrings>
</configuration>