@{
	ViewData["Title"] = "Login";
}

@using SubtitlesLearn.Site.Models;
@model ChangePasswordViewModel

@section Css
	{
	<link rel="stylesheet" href="~/css/Account.css" asp-append-version="true">
}

@section Scripts {
	@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
	<script src="~/js/Account.js" asp-append-version="true"></script>
}


<img id="imgLogo" />

<h1 class="st-center">Change password</h1>

<form asp-controller="Account" asp-action="ChangePassword" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
	<div class="row">
		<div class="col-sm-3 offset-sm-3">
			<div asp-validation-summary="All" class="text-danger"></div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-3 offset-sm-3">
			Email:
		</div>
		<div class="col-sm-3">
			@if (string.IsNullOrEmpty(Model.RestorePasswordCode))
			{
				<input class="form-control" asp-for="Email" style="display: none;"/>
			}
			else
			{
				<input class="form-control" asp-for="Email" />
			}
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6 offset-sm-3">
			<hr />
		</div>
	</div>

	@if (string.IsNullOrEmpty(Model.RestorePasswordCode))
	{
		<div class="row">
			<div class="col-sm-3 offset-sm-3">
				Old password:
			</div>
			<div class="col-sm-3">
				<input class="form-control" asp-for="OldPassword" />
				<span asp-validation-for="OldPassword" class="text-danger"></span>
			</div>
		</div>
	}
	else
	{
		<input type="hidden" asp-for="RestorePasswordCode" />
	}


	<div class="row">
		<div class="col-sm-3 offset-sm-3">
			Password:
		</div>
		<div class="col-sm-3">
			<input class="form-control" asp-for="Password" />
			<span asp-validation-for="Password" class="text-danger"></span>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-3 offset-sm-3">
			Confirmation:
		</div>
		<div class="col-sm-3">
			<input class="form-control" asp-for="PasswordConfirmation" />
			<span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6 offset-sm-3 st-right">
			<button class="btn btn-primary" type="submit">Change</button>
		</div>
	</div>	
</form>
