@{
	ViewData["Title"] = "Login";
}

@using SubtitlesLearn.Site.Models;
@model LoginViewModel

@section Css
	{
	<link rel="stylesheet" href="~/css/Account.css" asp-append-version="true">
}

@section Scripts {
	<script src='https://www.google.com/recaptcha/api.js?hl=en'></script>
	@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
	<script src="~/js/Account.js" asp-append-version="true"></script>
}


<img id="imgLogo" />

<h1 class="st-center">Login</h1>

<form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">



	<div class="row">
		<div class="col-sm-3 offset-sm-3">
			<div asp-validation-summary="All" class="text-danger"></div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-3 offset-sm-3">
			Email:
		</div>
		<div class="col-sm-3">
			<input class="form-control" asp-for="Email" />
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-3 offset-sm-3">
			Password:
		</div>
		<div class="col-sm-3">
			<input class="form-control" asp-for="Password" />
			<span asp-validation-for="Password" class="text-danger"></span>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6 offset-sm-3 st-right">
			<button class="btn btn-primary" type="submit">Login</button>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6 offset-sm-3">
			<hr />
		</div>
	</div>

	<div class="row">
		<div class="col-sm-3 offset-sm-3 st-center">
			<a class="btn btn-link" asp-controller="Account" asp-action="Register">Register</a>
		</div>
		<div class="col-sm-3 st-center">
			<a class="btn btn-link" asp-controller="Account" asp-action="Restore">Restore password</a>
		</div>
	</div>

	<input type="hidden" id="hfShowGreeting" value="@ViewBag.ShowGreeting" />
</form>


@* Greeting message popup *@
<div class="modal fade" id="dlgGreeting" tabindex="-1" role="dialog" aria-hidden="false">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
			</div>
			<div class="modal-body">
				<h4 class="st-center">We sent you email with confirmation of your account.</h4>
				<br />
				<h4 class="st-center">Please click the link to activate and login.</h4>
			</div>

			<div class="modal-footer">
				<button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-primary" onclick="redirectToLogin();">
					Close
				</button>
			</div>
		</div>
	</div>
</div>

