@{
	ViewData["Title"] = "Login";
}

@using SubtitlesLearn.Site.Models;
@model RegisterViewModel

@section Css
	{
	<link rel="stylesheet" href="~/css/Account.css" asp-append-version="true">
}

@section Scripts {	
	@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
	<script src="~/js/Account.js" asp-append-version="true"></script>
}


<img id="imgLogo" />
<h1 class="st-center">Wrong password restore code.</h1>
<a asp-action="Restore" asp-controller="Acount">Try to restore again</a>
<a asp-action="Login" asp-controller="Acount">To login page</a>
